{%extends 'index.html'%}
{%block content%}
<div class="container mt-5">
    <div class="box-element">
            <table class="table table-bordered">
                <tr>
                    <th><h5>Items:  {{order.get_item_total}}</h5></th>
                    <th><h5>Total Price:  ${{order.get_price_total|floatformat:2}} </h5></th>
                </tr>
            </table>
    </div>
</div>
<div class="container" style="margin-top: 5em;">
    {%include 'items_table.html'%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{%url 'checkout'%}" class="btn btn-primary me-lg-5">Check Out</a>
    </div>
</div>
{%endblock%}