{%extends 'index.html'%}
{%block items%}
{%load static%}
{%for product in products%}
<div class="card" style="width: 18rem; display: inline-block; margin: 2rem 5px; box-shadow: inset;">
    <img class="card-img-top" src="{{product.imageURL}}" width="260px" height="250px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <h5 class="card-title">${{product.price}}</h5>
        <a href="#" class="btn btn-outline-success" style="margin-right: 5px ; display: inline-block;">Add to Cart</a>
        <a href="#" class="btn btn-outline-info" style="margin-right: 5px ; display: inline-block;">View Item</a>
    </div>
</div>
{%endfor%}
{%endblock%}